<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Picasel</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        let emailCheck=-1;

        $(document).ready(function(){

            let f=document.getElementById("f");

            $("#btnNewPassword").on("click",function(){
                doSubmit(f)
            })

        })

        function doSubmit(f){

            if(f.password.value===""){
                alert("비밀번호를 입력해주세요.");
                f.password.focus();
                return;
            }
            if(f.password.value.length<8 || f.password.value.length>20){
                alert("비밀번호는 8~20자로 입력해주세요.");
                f.password.focus();
                return;
            }
            if(f.password2.value===""){
                alert("비밀번호 확인을 입력해주세요.");
                f.password2.focus();
                return;
            }
            if(f.password.value!==f.password2.value){
                alert("비밀번호 확인이 일치하지 않습니다.");
                f.password2.focus();
                return;
            }

            $.ajax({
                url: "/user/newPasswordProc",
                type: "POST", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // /user/insertUserInfo 호출이 성공했다면..
                    if (json.result === 1) { // 회원가입 성공
                        alert(json.msg); // 메시지 띄우기
                        location.href = "/user/login"; // 로그인 페이지 이동
                    } else { // 회원가입 실패
                        alert(json.msg); // 메시지 띄우기
                    }
                }
            })
        }

    </script>
</head>
<body>
    <div class="top_button">
        <a href="/user/login">
        <button type="button" class="btn btn-secondary border-0">로그인</button></a>
        <a href="/user/userRegForm">
        <button type="button" class="btn btn-secondary border-0">회원가입</button></a>
    </div>
    <div id="wrap">
        <div class="logo">
            <a href="/index">
            <img src="/logo.png" class="logo_img" alt="Picasel Logo"/></a>
        </div>
        <nav class="navbar navbar-expand-sm bg-body-tertiary border-0">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary border-0">그림 심리 분석</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary border-0">자가진단</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary border-0">아동상담소 찾기</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary border-0">상담 챗봇</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main_container bg-body-tertiary row">
            <div class="content_name">비밀번호 변경</div>
            <form id="f" class="form">
                <div class="row">
                    <label for="password"  class="form-label mt-4">새 비밀번호</label>
                    <div class="input-group">
                        <input type="password" class="form-control border-0" id="password" name="password" placeholder="비밀번호를 입력하세요" autocomplete="new-password" required>
                    </div>

                    <label for="password2"  class="form-label mt-4">비밀번호 확인</label>
                    <div class="input-group">
                        <input type="password" class="form-control border-0" id="password2" name="password2" placeholder="비밀번호 확인을 입력하세요" autocomplete="new-password" required>
                    </div>
                </div>
                <div class="btn_foot">
                    <button id="btnNewPassword" type="button" class="btn btn-secondary mt-4 justify-content-md-center border-0">비밀번호 변경</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>