<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Picasel</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function doDetail(saveTime) {
            location.href = "/analysis/resultInfo?saveTime=" + encodeURIComponent(saveTime);
        }
    </script>
</head>
<body>
    <div class="top_button">
        <a href="/user/myPage">
        <button type="button" class="btn btn-secondary border-0">마이페이지</button></a>
        <a href="/user/logout">
        <button type="button" class="btn btn-secondary border-0">로그아웃</button></a>
    </div>
    <div id="wrap">
        <div class="logo">
            <a href="/index">
            <img src="/logo.png" class="logo_img" alt="Picasel Logo"/></a>
        </div>
        <nav class="navbar navbar-expand-sm bg-body-tertiary border-0">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/analysis/main">
                        <button type="button" class="btn btn-primary border-0">그림 심리 분석</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/selfdiagnosis/main">
                        <button type="button" class="btn btn-primary border-0">자가진단</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/findnear/main">
                        <button type="button" class="btn btn-primary border-0">아동상담소 찾기</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/chatbot/main">
                        <button type="button" class="btn btn-primary border-0">상담 챗봇</button></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main_container bg-body-tertiary row">
            <div class="content_name">그림 심리 분석 결과 조회</div>
            <div class="content_form scroll">
                <div class="table no-border">
                    <div class="table-heading">
                        <div class="table-cell">저장일시</div>
                    </div>
                    <div class="table-body">
                        <div class="table-row" th:each="dto:${rList}">
                            <div class="table-head" th:text="${dto.saveTime}" th:onclick="doDetail([[${dto.saveTime}]])"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>